@charset "UTF-8";

:root {
    --preto01: #000000;
    --preto02: #3C3C3C;
    --preto03: #5E5E5E;
    --preto04: #808080;
    --preto05: #A2A2A2;
    --preto06: #C3C3C3;
}

* {
    margin: 0px;
    padding: 0px;
}

html {
    background-color: var(--preto01);
}

body {
    display: none;
}

@media (min-width:320px)  {
    body {
        display: block;
        height: 100dvh;
        font-family: Arial, Helvetica, sans-serif;
    }

    main {
        width: 100vw;
        height: 100vh;
        background-color: var(--preto02);
        display: flex;
        justify-content: center;
        align-items: center;

        & > section {
            padding: 10px;
            width: 320px;
            height: 550px;
            background-color: var(--preto06);
            border-radius: 20px;

            & > h1 {
                text-align: center;
            }

            & > form {
                padding: 10px;
                margin-top: 10px;
                
                & p {
                    cursor: default;
                    color: red;
                    margin-top: 3px;
                    margin-left: 20px;
                    font-size: 0.9em;
                }

                & label {
                    cursor: pointer;
                    font-size: 1.15em;
                    margin-left: 10px;
                    margin-bottom: 2px;
                }

                & input {
                    padding: 5px;
                    font-size: 1.1em;
                    border-radius: 10px;
                    border: 2px solid red;
                    margin: 0px 5px;
                }

                & input[type='button']{
                    font-size: 5em;
                    margin-top: 2rem;
                }

                & > section {
                    display: flex;
                    flex-flow: column;
                    margin-bottom: 15px;
                }
            }

        }
    }
}